.basket-bg{
    background-color: whitesmoke;
    border: 0px black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: calc(100vh - 70px);
    overflow: hidden;
    left:80%;
    position: absolute;
    width: 20%;
}



.mybasketText{
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 1.5rem;
}

.basketMain{
    height: calc(100vh - 350px);
    overflow-y: scroll;

}

.basketTotal{
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 1.3rem;
    color: blue;
    margin-bottom: 1em;
    margin-top: 2em;
}


.closeButton{
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 2.4em;
  background-color: whitesmoke;
  align-items: center;
  align-self: center;
}

.BasketCheckoutButton{
    border: 2px;
    border-color: red;
    color: black;
    border-style: solid;
    border-radius: 75px;
    background-color: none;
    padding: 10px 25px;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    font-weight: 500;
  
}

.BasketCheckoutButton:hover{
    border: 2px;
    border-color: red;
    color: white;
    border-style: solid;
    border-radius: 75px;
    background-color: red;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    font-weight: 500;
   
}


.card {
    flex-direction: row;
    align-items: center;
  }
  .card-title {
    font-weight: bold;
  }
  .card img {
    width: 30%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  @media only screen and (max-width: 768px) {
    a {
      display: none;
    }
    .card-body {
      padding: 0.5em 1.2em;
    }
    .card-body .card-text {
      margin: 0;
    }
    .card img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 1200px) {
    .card img {
      width: 40%;
    }
  }


.basket{
    opacity: 0;
  transition-property: margin-right, opacity;
  transition-duration: 1s;
  margin-right: -1000px;
  overflow-x: hidden;
}

.avoid-clicks {
    pointer-events: none;
  }

.button-minus{
  color: red;
  opacity: 0.75;
  font-size: 2em;
}

.button-minus:hover{
  color: red;
  opacity: 1;
  cursor: pointer;
}

.button-add{
  color: green;
  opacity: 0.75;
  font-size: 2em;
}

.button-add:hover{
  color: green;
  opacity: 1;
  cursor: pointer;
}

.quantity-text{
  font-family: 'Open Sans';
  font-size: 2em;
  font-weight: 600;
}

.price-text{
  font-size: 2em;
}


#promoCodeInput{
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 1em;
  margin: auto;
  margin-right: 5px;
  margin-left: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#applyPromoButton{
  border-radius: 5px;
  outline: none;
  background-color: none;
  border:2px solid rgb(91,201,152);
  background-color: rgb(91,201,152);
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
}

#applyPromoButton:hover{
  background-color: white;
  color: black;
}