.basket-bg{
    background-color: whitesmoke;
    border: 1px black;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: calc(100vh - 70px);
    overflow: hidden;
}

.mybasketText{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2rem;
}