.checkout-title{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 2rem;
    color: blue;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}

:root {
	--green: #1cbd2c;
	--grey: #c4c4c4;
	--white: #ffffff;
	--padding: 1em;
}



.progress-bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	overflow: hidden;
	font-family: 'Open Sans';
    height: 12rem !important;
}

.mainWrapper {
	width: 100ch;
	min-width: 40ch;
	max-width: 75vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.statusBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	width: 100%;
	position: relative;
	cursor: default;
}

.statusBar::before {
	content: "";
	height: 0.3em;
	background-color: var(--grey);
	position: absolute;
	left: var(--padding);
	right: var(--padding);
}

.pBar {
	content: "";
	height: 0.3em;
	border-radius: 0 0 0.15em 0.15em;
	background-color: var(--green);
	max-width: 100%;
	margin: 10px #000000 solid;
	position: absolute;
	left: 0;
	width: 0%;
}

.statusBar > .node {
	background-color: var(--grey);
	height: 1.2em;
	width: 1.2em;
	border-radius: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.node > .text {
	font-weight: 200;
	color: var(--grey);
	text-align: center;
	position: absolute;
	top: 2.5em;
}

.node.done {
	background-color: var(--green);
}

.node > .text.done {
	color: var(--green);
}

.node > .main {
	position: absolute;
	border: 0.2em var(--grey) solid;
	width: 0;
	height: 0;
	border-radius: 100%;
}

.node > .main.done {
	border: 0.2em var(--green) solid;
	width: 2em;
	height: 2em;
	border-radius: 100%;
}

.mainWrapper > .buttonHolder {
	margin-top: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
}



.subtotal-text{
    color: blue;
    font-family: 'Open Sans';
    font-size: 1.5em;
    font-weight: 600;
}

.subtotal-price{
    color: red;
    font-family: 'Open Sans';
    font-size: 1.8em;
    font-weight: 800;
}

.login-button{
    border: 2px solid red;
    padding: 15px;
    width: 10em;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: 400;
	color: black;
}

.login-button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}


.guest-header {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 

.guest-header span { 
    background:#fff; 
    padding:0 10px; 
}

.pay-guest{
    color: blue;
    font-family: 'Open Sans';
    font-size: 1.5rem;
}

.pay-guest:hover{
    cursor: pointer;
    text-decoration: underline;
}

.empty-cart{
	font-family: 'Open Sans';
	font-size: 2em;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 2em;
}

.browse-products{
	color: blue;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 2em;
}
.browse-products:hover{
	text-decoration: underline;
	cursor: pointer;
}


.stage1-header{
	font-family: 'Open Sans';
	font-size: 2.4rem;
	font-weight: 600;
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.stage1-subheading {
	font-family: 'Open Sans';
	font-size: 1remrem;
	font-weight: 400;
	padding-top: 0.5rem;
}

#container-details input{
    display: block;
    padding: 5px;
    border-top:none ;
    border-right: none;
    border-left: none;
    font: 'Open Sans';
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container-details input:focus{
    padding: 5px;
    width: 50%;
    border-top:none ;
    border-right: none;
    border-left: none;
    border: 0px;
    border-bottom: 3px black solid;
    outline: none;
}


.buying-header{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 2em;
	color: blue;
}

.purchase-header{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 2em;
	color: blue;
}

.card-number-header{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1.4em;
	color: lightgrey;
}

.subtotal-price-stage1{
    color: blue;
    font-family: 'Open Sans';
    font-size: 2.4em;
    font-weight: 800;
	padding-right: 1em;
}


.gueststage2-header{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1.8em;
	color: black;
}

.orderconfirmation-text{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1.5em;
	color: black;
}