#container-signin input{
    display: block;
    padding: 5px;
    width: 50%;
    border-top:none ;
    border-right: none;
    border-left: none;
    font: 'Open Sans';
    font-size: 1em;
    margin: auto;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container-signin input:focus{
    padding: 5px;
    width: 50%;
    border-top:none ;
    border-right: none;
    border-left: none;
    border: 0px;
    border-bottom: 3px black solid;
    outline: none;
}
#container-signin .d-flex input{
    display: block;
    padding: 5px;
    width: 25%!important;
    border-top:none ;
    border-right: none;
    border-left: none;
    font: 'Open Sans';
    font-size: 1em;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#container-signin .d-flex input:focus{
    padding: 5px;
    border-top:none ;
    border-right: none;
    border-left: none;
    border: 0px;
    border-bottom: 3px black solid;
    outline: none;
}


.container-custom-input input{
    display: block;
    padding: 5px;
    width: 50%;
    border-top:none ;
    border-right: none;
    border-left: none;
    font: 'Open Sans';
    font-size: 1em;
    margin: auto;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-custom-input input:focus{
    padding: 5px;
    width: 50%;
    border-top:none ;
    border-right: none;
    border-left: none;
    border: 0px;
    border-bottom: 3px black solid;
    outline: none;
}



.signin-button{
    border: 2px solid red;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 10em;
    width: auto !important;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: white;
}

.signin-button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.active{
    border: 2px blue solid;
    border-top: none;
    border-right: none;
    border-left: none;
}


.bg-grey{
    background-color: darkgray;
}

.text-invalid{
    color: red;
    font-family: 'Open Sans';
    font-size: 0.85em;
    font-weight: 400;
}

button{
    width: auto;
}


.header-button{
    font-family: 'Open Sans';
    font-size: 1.75em;
    font-weight: 400;
    cursor: pointer;
    color: blue;
}


.welcome-header{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 2.5em;
}

.welcome-subtext{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2em;
}


.forgot-login{
    color: blue;
    font-size: 1.75em;
    font-weight: 100;
    font-family: 'Open Sans';
    padding-bottom: 2rem;
    padding-top:2rem
}

.forgot-login:hover{
    text-decoration: underline;
    cursor: pointer;
}
