.navBar{
    background-color: #960018;
    font-family: "Open Sans";
    height: 70px;
}
.font-os-400 {
    font-family: "Open Sans";
    font-weight: 400;
  }
  .font-os-semiBold{
    font-family: "Open Sans";
    font-weight: bolder;
  }

  .font-os-100 {
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 15px;
  }

  .font-icons{
    font-size: xx-large;
  }

  .font-os-lighter{
    font-family: "Open Sans";
    font-weight: lighter;
  }

  .font-white{
    color: white;
  }

  .navButton{
    border: rgb(0, 0, 0,0) 1px;
    border-style: solid;
    max-width: 100px;
  }

  .navButton:hover{
    border: white 1px;
    border-style: solid;
    border-radius: 5px;
    max-width: 100px;
    color: white !important;
  }


.basket-notification{
  position: absolute;
  background-color: blue;
  color: white;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 0.75rem;
  right: 5%;
  top: 60%;
  padding: 0.15em 0.5em;
  


}


.nav-Button{
  cursor: default;
}

.nav-Button:hover{
  cursor: pointer;
}

.basket-hidden{
  visibility: hidden;
}
