.navBar{
    background-color: #960018;
    font-family: "Open Sans";
}
.font-os-400 {
    font-family: "Open Sans";
    font-weight: 400;
  }
  .font-os-semiBold{
    font-family: "Open Sans";
    font-weight: bolder;
  }

  .font-os-lighter{
    font-family: "Open Sans";
    font-weight: lighter;
  }

  .font-white{
    color: white;
  }

  .navButton{
    border: rgb(0, 0, 0,0) 1px;
    border-style: solid;
  }

  .navButton:hover{
    border: white 1px;
    border-style: solid;
    border-radius: 5px;
  }