.pagination-number{
    color: black;
    position: absolute;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.2rem;

}

.paginationNumber-container{
    width: 2em;
    height: 2em;
    background-color: whitesmoke;
    opacity: 1;
    border-radius: 75px;
    text-align: center;
    padding: 10px 10px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.paginationNumber-container:hover{
    background-color: lightgray;
    cursor: pointer;
    
}
.paginationNumber-container:disabled{
    background-color: whitesmoke; 
    cursor: not-allowed;   
}
.active-page{
    background-color: lightgray !important;  
}