.pay-header {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2em;
  }
  
  .add-payment-button {
    padding: 0.2em;
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Open Sans';
    border: solid 2px red;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }
  
  .add-payment-button:hover {
    box-shadow: 0 0 5px red;
  }
  